server:
  port: 8082

spring:
  application:
    name: point-service
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        namespace: public
        group: BANK_GROUP

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

logging:
  level:
    com.bank.point: debug