server:
  port: 8084

spring:
  application:
    name: aggregation-service
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        namespace: public
        group: BANK_GROUP
    sentinel:
      transport:
        dashboard: localhost:8080
        port: 8719

# Feign配置
feign:
  okhttp:
    enabled: true
  sentinel:
    enabled: true
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 10000
        loggerLevel: basic
  compression:
    request:
      enabled: true
      mime-types: text/xml,application/xml,application/json,application/x-www-form-urlencoded
      min-request-size: 256
    response:
      enabled: true


management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

logging:
  level:
    com.bank.aggregation: debug
    com.bank.aggregation.client: debug
    feign: debug
    org.springframework.web: debug
    org.apache.http: debug