server:
  port: 8081

spring:
  application:
    name: user-service
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        namespace: public
        group: BANK_GROUP
      config:
        enabled: false  # 本示例不使用配置中心
    sentinel:
      transport:
        # dashboard地址
        dashboard: 127.0.0.1:8080
        port: 8719 #指定一个端口，开启客户端与sentinel控制天进行数据交互
      eager: true
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.bank.user: debug